body {
    background-color: #fec260;
    font-family: "PT Sans Caption", sans-serif;
}

.TextHeading {
    font-family: 'Pacifico', cursive;
}

.TextHeading2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
}